body {
.menu {
    display: flex;
}

#carousel {
    width: 100%;
    max-width: 85%;     
    height: 70%;        
    margin: 0 auto;
    overflow: hidden;    
    display: flex;
    justify-content: center;
    align-items: center;  
}

#carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;    /* garde une image propre sans déformation */
}


button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px;
}


.menu-container {																								/* Disposition des boutons de Chapitres*/
  display: flex;
  justify-content: space-between;
  gap: 10px;            
  margin: 0px;
  color : white;
}


.menu-bouton {																									/* Boutons Chapitres*/
  flex: 1;              
  padding: 2%;
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 5%;
  font-size: 1.1rem;
  font-weight: bold;

}

.menu-bouton:hover {
  background-color: #a81b1b;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #7b0d0d;
  color: white;
  margin-top: 0;
}

#searchBar {
  width: 80%;
  max-width: 400px;
  padding: 10px 15px;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  border: 2px solid #888;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}

#searchBar:focus {
  border-color: #555;
  box-shadow: 0 0 8px #555;
}



.cartes {
  display: inline-block;
  margin: 30px 5;
}

.filter-bar {
	display: flex;
	 align-items: center;
	  justify-content: center;
}


.header {
  display: flex;
  align-items: center;
  background: #7b0d0d;
  color: white;
  justify-content: center;
}
.titre {
  flex: 1;
  font-weight: bold;
  align-items: center;
}

.regles {
    height: 90%;       /* Très important */
    display: flex;
}

.regles embed {
    flex: 1;
    width: 90%;
    height: 100%;       /* Force l’embed à occuper toute la hauteur */
    border: none;
}

