body {
.menu {
    display: flex;
}

#carousel {
    width: 100%;
    max-width: 85%;     /* largeur max */
    height: 75%;        /* hauteur FIXE */
    margin: 0 auto;
    overflow: hidden;     /* cache les débordements */
    display: flex;
    justify-content: center;
    align-items: center;  /* centre l’image */
}

#carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;    /* garde une image propre sans déformation */
}


button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px;
}

/* Disposition des boutons */
.menu-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;            
  margin: 20px;
}

/* Boutons */
.menu-bouton {
  flex: 1;              
  padding: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;

}

.menu-bouton:hover {
  background-color: #a81b1b;
}

}
footer {
  text-align: center;
  padding: 5px;
  background-color: #7b0d0d;
  color: white;
  margin-top: 0;
}